<div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body text-center">
      <div class="d-flex justify-content-center"><span>&#9999;</span><h5 class="card-title mx-4">{{ book?.title }}</h5><span>&#10006;</span></div>
      <hr>
      <p class="card-title"><b>ISBN: {{ book?.id }}</b></p>
      <p class="card-text">Author: {{ book?.author }}</p>
    </div>
    <hr class="mt-0 mb-1">
    <div class="card-body py-0">
        <div class="row">
            <div class="col-8">
                <h6 class="card-text mb-1">Genres:</h6>    
                    <ul>
                        @for (genre of book?.genres; track $index) {
                            <li class="list-group-item p-0 ms-2">
                                {{ genre }}
                            </li>                            
                        }      
                </ul>
            </div>
            <div class="col-4 text-center">
                <p class="card-text m-0">Released:<br><i>{{ book?.release_date }}</i></p>
                <p class="card-text m-0">Pages:<br><i>{{ book?.length }}</i></p>              
            </div>
        </div>
    </div>
    <hr class="m-0">    
    <div class="card-body mx-auto text-center">
        <h5 class="card-title">Available: {{ book?.available }}</h5>
        <a href="#" class="card-link">+</a>
        <a href="#" class="card-link">-</a>
    </div>
</div>
