<div class="card mt-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body text-center">
      <div class="d-flex justify-content-center">
        <span (click)="modifyBook()">&#9999;</span>
        <h5 class="card-title mx-4">{{ book?.title }}</h5>
        <span (click)="delBook()">&#10006;</span>
    </div>
      <hr>
      <p class="card-title"><b>ISBN: {{ book?.id }}</b></p>
      <p class="card-text">Author: {{ book?.author }}</p>
    </div>
    <hr class="mt-0 mb-1">
    <div class="card-body py-0">
        <div class="row">
            <div class="col-8">
                <h6 class="card-text mb-1">Genres:</h6>    
                    <ul>
                        @for (genre of book?.genres; track $index) {
                            <li class="list-group-item p-0 ms-2">
                                {{ genre }}
                            </li>                            
                        }      
                </ul>
            </div>
            <div class="col-4 text-center">
                <p class="card-text m-0">Released:<br><i>{{ book?.release_date }}</i></p>
                <p class="card-text m-0">Pages:<br><i>{{ book?.length }}</i></p>              
            </div>
        </div>
    </div>
    <hr class="m-0">    
    <div class="card-body mx-auto text-center p-1">
        <h5 class="card-title">Available: 
            @if(book?.available! > 0) {
                {{ book?.available }}            
            }
            @else {
                None
            }
        </h5>        
    </div>
    <hr class="m-0">        
    <div class="card-body mx-auto text-center pt-0">
        <h6 class="card-text">Change Quantity:</h6>    
        <span class="card-link btn btn-primary" (click)="addQuantity()">Add</span>
        <span class="card-link btn btn-primary" (click)="subtractQuantity()">Subtract</span>
    </div>
</div>
