<div class="container main-app">
  <h1 class="text-center mb-5 display-4">Library catalogue</h1>
  <div class="container col-2 mx-auto text-center mb-5">
    <button class="btn btn-primary mx-auto" (click)="newBook()">New book</button>
  </div>
  <div class="container mx-auto col-md-8">
    <app-card-list [books]="books" (updateBook)="setBookData($event)" (deleteBook)="deleteBook($event)" (quantityModified)="updateBook($event)"></app-card-list>
  </div>
</div>
<footer class="footer bg-dark text-center text-white py-2">&copy;BM - 2024</footer>
<app-book-data [bookData]="newBookData" (saved)="createBook($event)"></app-book-data>
<app-book-data [bookData]="modBookData" (saved)="updateBook($event)"></app-book-data>