<div class="card mt-3">
    <div class="row text-center mx-auto">
        <div class="col-3">
            <button class="btn btn-warning mt-3 rounded-pill">            
                <span (click)="modifyBook()" class="material-icons">
                    edit
                </span>
            </button>
        </div>
        <div class="col-6">
            <img class="card-img-top mt-1" [src]="book?.image" alt="Book cover image">
        </div>
        <div class="col-3">
            <button class="btn btn-danger mt-3 rounded-pill">
                <span (click)="delBook()" class="material-icons">
                    delete
                </span>
            </button>
        </div>
    </div>
    <div class="card-body text-center">
      <div class="d-flex justify-content-center">
        <h5 class="card-title mx-4">{{ book?.title }}</h5>
    </div>
      <hr>
      <p class="card-title"><b>ISBN: {{ book?.isbn }}</b></p>
      <p class="card-text">Author: {{ book?.author }}</p>
    </div>
    <hr class="mt-0 mb-1">
    <div class="card-body py-0">
        <div class="row">
            <div class="col-8">
                <h6 class="card-text mb-1">Genres:</h6>    
                    <ul>
                        @for (genre of book?.genres; track $index) {
                            <li class="list-group-item p-0 ms-2">
                                {{ genre }}
                            </li>                            
                        }      
                </ul>
            </div>
            <div class="col-4 text-center">
                <p class="card-text m-0">Released:<br><i>{{ book?.release_date }}</i></p>
                <p class="card-text m-0">Pages:<br><i>{{ book?.length }}</i></p>              
            </div>
        </div>
    </div>
    <hr class="m-0">    
    <div class="card-body mx-auto text-center p-1">
        <h5 class="card-title">Available: 
            @if(book?.available! > 0) {
                {{ book?.available }}            
            }
            @else {
                None
            }
        </h5>        
    </div>
    <hr class="m-0">        
    <div class="card-body mx-auto text-center pt-0">
        <h6 class="card-text">Change Quantity:</h6>    
         <button class="btn btn-primary p-1 me-2 rounded-pill">
             <span (click)="addQuantity()" class="material-icons">
                 add
             </span>
         </button>
         <button class="btn btn-primary p-1 rounded-pill">
            <span (click)="subtractQuantity()" class="material-icons">
                remove
            </span>
        </button>
    </div>
</div>
